.col {
  margin: 2em 2em 2em 2em;
}

.artistImg {
  border-radius: 20%;
}

.image {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playInfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

/* Light Mode Styles */

.bg-light {
  background-color: #fff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

/* Dark Mode Styles */

.heading-dark {
  color: #fff;
}

.bg-dark {
  background-color: #222;
}

.para-dark {
  color: #fff;
}
