.artist-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.cardCol {
    margin: 2em 2em 2em 2em;
}

.artistImg {
    max-width: 25vw;
    height: auto;
    border-radius: 20%;
}