.details {
  text-align: center;
}

.infoDiv {
  margin: 0em 1em 1em 3em;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.artistImg {
  margin: 1em;
}

/* Light Mode Styles */

.bg-light {
  background-color: #fff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

/* Dark Mode Styles */

.heading-dark {
  color: #fff;
}

.bg-dark {
  background-color: #222;
}

.para-dark {
  color: #fff;
}
